

name: Check Release
on:
  push:
  pull_request:

jobs:
  check_release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        group: [check_release]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
      - name: Install Dependencies
        run: |
          pip install -e .
      - name: Check Release
        if: ${{ matrix.group == 'check_release' }}
        uses: jupyter-server/jupyter_releaser/.github/actions/check-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Distributions
        uses: actions/upload-artifact@v4
        with:
          name: jupyter_server_fileid-releaser-dist-${{ github.run_number }}
          path: .jupyter_releaser_checkout/dist
